/* Variables*/
:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
    --color-button: #2A7AE4;
    --color-btn2: #D8DFE8;
}


section{
    padding: 3rem 0 2rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
a{
    text-decoration: none;   
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200; /* Ajusta el valor según sea necesario */
}

header.shadow{
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transform: 0.4s;
}

header.shadow .logo{
    color: var(--text-color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span{
    color: var(--second-color);
}

.login{
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: var(--second-color);
    color: var(--bg-color);
}


.login:hover{
    background: hsl(24, 98%, 58%);
    transition: 0.3s;
}

/* post headere*/
.post-header{
    width: 100%;
    height: 250px;
    background-color: var(--container-color);
}

.post-container{
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.back-home{
    padding: 1.2rem;
    color: var(--second-color);
    font-size: 0.9rem;
}

.header-title{
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}

.header-img{
    width: calc(100% / 2);
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post-content{
    margin-top: 7rem !important;
}

.sub-heading{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

.post-img{
    width: 500px;
    height: auto;
    margin: auto;
}

/* Section cifrado des*/
#rsa{
    text-align: center;
    padding: 1.5rem;
    background-color: var(--second-color);
    margin: 10%;
}


/*text area*/
.option .option-wrapper {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 90px;
    width: 70%;
    margin: auto; /* Centra horizontalmente */
}


.option input:focus~label,
.option input:valid~label {
    transform: translateY(-10px);
    font-size: 15px;
}

.option-wrapper {
    position: relative;
    margin-bottom: 2.5rem;
    /* Espacio entre los inputs */
}

.option .option-wrapper input {
    border-radius: 10px;
    height: 4rem;
    width: 100%;
    border: none;
    font-size: 17px;
    border: 2px solid #000;
}

.option .option-wrapper label {
    position: absolute;
    bottom: 50px;
    left: 0;
    color: gray;
    pointer-events: none;

}

.button-option, .algoritmo{
    display: flex;
    justify-content: space-around;
}

button {
    width: auto;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.btn__cifrar{
    color: var(--color-button);
    background: var(--bg-color);
    border: 2px solid var(--color-button);
}

.btn__descifrar{
    color: var(--bg-color);
    background: var(--color-button);
    border: none;
}

.btn__limpiar{
    color: var(--text-color);
    background: var(--color-btn2);
    border: none;
}

/* area cifrar*/
.cifrar__texto, .descifrar{
    padding-left: 30px;
    margin-top: 20px;
    width: 70%;
    background-color: var(--color-btn2);
    border-radius: 13px;

}

.cifrar{
    margin: 20px;
}
.post-paso{
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.cifrar .cifrar-wrapper {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50px;
    width: 150px;
    margin: auto; /* Centra horizontalmente */
    gap: 10px;
}

.cifrar .cifrar-wrapper input {
    border-radius: 10px;
    height: 2rem;
    width: 100%;
    border: none;
    font-size: 17px;
    border: 2px solid #000;
}

textarea{
    max-height: 100px;
	min-height: 50px;
    border-radius: 13px;
	border: 2px solid var(--text-color);
	outline: none;
	resize: none;
	font-size: 32px;
	color: #0A3871;
}

#resultados, #resultados_descifrado {
    width: 100%;
    border-collapse: collapse;
}

#resultados th, #resultados td, #resultados_descifrado td, #resultados_descifrado th {
    padding: 8px;
    text-align: center;
    border: 1px solid #dddddd;
}

#resultados th,  #resultados_descifrado th{
    background-color: #f2f2f2;
    font-weight: bold;
}


footer {
    bottom: 0;
    width: 100% - 20px;
    padding: 150px;
    text-align: center;
    background-image: url("../img/bg.jpg");
}

.bx{
    font-size: 1.9rem;
    color: var(--bg-color);
}

.bx:hover{
    color: var(--second-color);
    transition: 0.3s all linear;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
	margin: 0;
	padding: 0;
}
/*Responsive*/
@media (max-width: 1060px){
    .container{
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 800px){
    .nav{
        padding: 14px 0;
    }
    .post-container{
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 768px){
    .header-img, .post-img-content{
        width: 400px;
        height: auto;
    }
    .post-header{
        height: 150px;
    }
    .post-content{
        margin-top: 14rem !important;
    }
    .post-img{
        padding-left: 25px;
        width: 500px;
        height: auto;
        justify-content: center;
    }
}

@media (max-width: 570px){
    #rsa{
        margin: 2%;
    }
    .post-img{
        padding-left: 25px;
        width: 500px;
        height: auto;
    }
    .post-text, .post-paso{
        font-size: 1rem;
    }

    .cifrar__texto, .descifrar{
        width: 90%;
        padding: 0px;;
    }
    #resultados th, #resultados td, #resultados_descifrado td, #resultados_descifrado th {
        text-align: center;
        border: 1px solid #dddddd;
    }
}

@media (max-width: 396px){
    #rsa{
        margin: 2%;
    }
    .post-img{
        padding-left: 25px;
        width: 350px;
        height: auto;
    }
    .post-text, .post-paso{
        font-size: 1rem;
    }

    .cifrar__texto, .descifrar{
        width: 90%;
        padding: 0px;;
    }
    #resultados th, #resultados td, #resultados_descifrado td, #resultados_descifrado th {
        text-align: center;
        border: 1px solid #dddddd;
    }
}


.caracteristicas{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
    font-weight: bold;
}

.caracteristicas-content{
    font-weight: normal;
}

.caracteristicas li:not(.no-star)::before {
    content: url("../img/check-shield-solid-24.png");
    margin-right: 5px; /* Ajusta el espaciado según sea necesario */
}